@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@keyframes typingDots {
  0%, 20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80%, 100% {
    content: "";
  }
}

.typing-dots::after {
  content: "";
  animation: typingDots 1.5s infinite;
}
